tml,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.home {
  /* border: solid 5px black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  width: 100%;
  background: #b5c6b0;
}

.home__header-container {
  /* border: solid 5px green; */
  display: flex;
  justify-content: start;
  /* align-items: center; */
  height: 400px;
  /* width: 100%; */
  background: white;
  padding: 20px;
  top: 0;
}

.home__header-content {
  /* border: solid 4px pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.home__title-container {
  /* border: solid 5px red; */
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: start;
}

.home__name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #51614c;
}

.home__description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.home__nav {
  /* border: solid 5px yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.content__button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 2px solid #51614c;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px 15px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #51614c;
  text-align: center;
  transition: all 0.2s;
}
.content__button:hover {
  color: white;
  background-color: #51614c;
}

.home__image {
  width: 300px;
  border-radius: 50%;
  border: 5px solid #51614c;
  padding: 2px;
}

.home__content-container {
  /* border: solid 2px blue; */
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;

  flex-direction: column;
}

.home__contentfirst {
  /* border: solid 5px yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 30px;
}

.home__left-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 700px;
  margin-right: 15px;
}

.home__right-container {
  background: #91ac89;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 350px;
  margin-left: 15px;
  /* border: solid 2px red; */
}

.rightcontent {
  /* border: solid 2px black; */
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

.home__contentsecond {
  /* border: solid 5px purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  margin: 30px;
}

.home__full-container {
  background: #51614c;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.content__title__highlight {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  /* background-color: lightgray; */
  padding: 10px;
  color: white;
}

.content__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  /* background-color: lightgray; */
  padding: 10px;
  color: #51614c;
}

.content__description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  color: black;
  text-decoration: none;
  justify-content: start;
  margin-left: 25px;
}

.home__full-inside {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  border: 5px #51614c;
}

.content__inside-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  color: black;
  text-decoration: none;
  justify-content: start;
  margin-left: 25px;
}

.content__description-white {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  color: white;
  text-decoration: none;
  justify-content: start;
  margin-left: 25px;
}

.content__description-green {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  color: #51614c;
  text-decoration: none;
  justify-content: start;
  margin-left: 0px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 2px black; */
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #51614c;
  height: 100px;
  /* border: solid 2px red; */
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
